#banner-title {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 54px;
}

#motto {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.7rem;
}

#banner {
  background: url(https://www.freepik.com/free-photo/large-green-rice-field-with-green-rice-plants-rows_12909734.htm#fromView=keyword&page=1&position=3&uuid=248d7883-8330-4003-b4ee-035023ec1d37&query=Rice+farm),
    linear-gradient(to right, rgb(255, 255, 255), 70%, rgba(126, 209, 247, 0.5));
  background-size: cover;
  background-position: center;
  height: 550px;
}
