/*
  Official Colors:
  #ffc107 = yellow
  #003E86 = dark blue
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f7ff;
}

h1,
h2,
h3,
h4,
.nav-link {
  font-family: "Montserrat", serif;
  color: #003e86;
}

h1 {
  font-family: "Montserrat", serif;
  font-weight: 750;
  font-size: 45px;
  line-height: 30px;
  color: #003e86;
}

#menu {
  background: #003e86;
}

#hm,
#prjcts,
#tls,
#cntct {
  margin-left: 50px;
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

#landing {
  background: #cbdcf2;
}

.landing-text {
  color: #003e86;
}

.card-text {
  text-align: left;
  font-family: "Montserrat", serif;
  font-size: 14px;
  color: #003e86;
}

.card-img {
  padding: 25px 5px 0;
}

.tools-img {
  padding: 15px;
}

.contact-section {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.contact-form-control {
  background-color: transparent;
  border: 1px solid #003e86;
  color: #003e86;
  padding: 12px;
  font-size: 16px;
}

.contact-form-control::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.submit-btn {
  background-color: #3a86ff;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 16px;
}

.social-icons a {
  font-size: 28px;
  margin-right: 15px;
  color: #0c2d57;
}

.map-container iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  padding-right: 50px;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-footer .submit-btn {
  margin-left: auto;
}

.fab {
  font-size: 2rem;
}

footer {
  background: #003e86;
}